asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.4
django-extensions==3.1.5
# mysqlclient==2.1.0
Pillow==9.1.0
sqlparse==0.4.2
pymysql==1.0.2
django-crispy-forms==1.14.0
crispy-bootstrap5==0.6
stripe==2.76
requests==2.27.1
