{% extends 'core/base.html' %}

{%block title %} Printer {% endblock %} 

{% block content %}

<div>
    <form method="post" action=".">
        {% csrf_token %}
        {{ printer_form.as_p}}
        {{ material_form.as_p}}


        <div class="field">
            <div class="control">
                <button class="button">Add</button>
            </div>
        </div>

    </form>
        

</div>
{% if not printer_id == None %}
    <a class="" href="{% url 'slicer_check' printer_id %}">test slicer</a>    
{% endif %}
{% endblock %}

