{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{%block title %} Printer {% endblock %} 

{% block content %}

<div class="row align-items-start">
    <form action="." class="uniForm" method="post">
        <div class="row">
            <div class="col">
                {% crispy printer_form %}
            </div>
            <div class="col">
                {% crispy material_form %}
            </div>
        </div>

    </form>      

</div>
{% if not printer_id == None %}
    <a class="" href="{% url 'slicer_check' printer_id %}">test slicer</a>    
{% endif %}
{% endblock %}

