{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{%block title %} Vendor Home {% endblock %}

{% block content %}

<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'order_dashboard' %}" class="nav-link active" aria-current="page">Orders</a>
      </li>
      <li class="nav-item"><a href="{% url 'printer_dashboard' %}" class="nav-link">Printers</a></li>
      <li class="nav-item"><a href="{% url 'material_dashboard' %}" class="nav-link">Materials</a></li>
      <li class="nav-item"><a href="{% url 'vendor_admin' %}" class="nav-link">Admin</a></li>
      <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link">FAQs</a></li>
    </ul>
  </header>
</div>

<div class="row justify-content-center">
  <div class='col-8'>

    <hr>

    <div class="card mb-3 border-0" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 image-container">
          <img src="{{ vendor.get_thumbnail }}" alt="store-logo" class="profile-pic">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">Order Dashboard - {{ vendor.created_by.first_name }}</h2>
            <p class="card-text">Display the orders you have </p>
            <p class="card-text"><small class="text-muted">Since: {{ vendor.created_at }}</small></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
          <p><a href="{% url 'print_preview' vendor.slug %}">Your page</a> </p>
          <div class="my-3 p-3 rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0">Orders: </h6>

            <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-all-list" data-bs-toggle="list"
                    href="#list-all" role="tab" aria-controls="list-all">All</a>
                  <a class="list-group-item list-group-item-action" id="list-pending-list" data-bs-toggle="list"
                    href="#list-pending" role="tab" aria-controls="list-pending">Pending</a>
                  <a class="list-group-item list-group-item-action" id="list-confirmed-list" data-bs-toggle="list"
                    href="#list-confirmed" role="tab" aria-controls="list-confirmed">Confirmed</a>
                  <a class="list-group-item list-group-item-action" id="list-printing-list" data-bs-toggle="list"
                    href="#list-printing" role="tab" aria-controls="list-printing">Printing</a>
                  <a class="list-group-item list-group-item-action" id="list-dispatched-list" data-bs-toggle="list"
                    href="#list-dispatched" role="tab" aria-controls="list-dispatched">Dispatched</a>
                  <a class="list-group-item list-group-item-action" id="list-delivered-list" data-bs-toggle="list"
                    href="#list-delivered" role="tab" aria-controls="list-delivered">Delivered</a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-all" role="tabpanel"
                    aria-labelledby="list-all-list">
                    {% for order in orders_all %}
                    {% include "order/order_list.html" %}
                    {% empty %}
                    <p>You have no orders yet.</p>
                    {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="list-pending" role="tabpanel"
                    aria-labelledby="list-pending-list">
                    {% for order in orders_pending %}
                    {% include "order/order_list.html" %}
                    {% empty %}
                    <p>You have no pending orders yet.</p>
                    {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="list-confirmed" role="tabpanel" aria-labelledby="list-confirmed-list">
                    {% for order in orders_confirmed %}
                    {% include "order/order_list.html" %}
                    {% empty %}
                    <p>You have no confirmed orders yet.</p>
                    {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="list-printing" role="tabpanel" aria-labelledby="list-printing-list">
                    {% for order in orders_printing %}
                    {% include "order/order_list.html" %}
                    {% empty %}
                    <p>You have no printing orders yet.</p>
                    {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="list-dispatched" role="tabpanel"
                    aria-labelledby="list-dispatched-list">
                    {% for order in orders_dispatched %}
                    {% include "order/order_list.html" %}
                    {% empty %}
                    <p>You have no dispatched orders yet.</p>
                    {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="list-delivered" role="tabpanel" aria-labelledby="list-delivered-list">
                    {% for order in orders_delivered %}
                    {% include "order/order_list.html" %}
                    {% empty %}
                    <p>You have no delivered orders yet.</p>
                    {% endfor %}
                  </div>


                </div>
              </div>
            </div>



          </div>


        </div>




</div>
</div>
{% endblock %}