<!-- start of price, checkout  -->
<div id="Summary-Checkout" style="height: 100px; position:absolute" class="container fixed-bottom my-3">
    HEWLLO
    <div class="row">
        <div class="col-sm" style="text-align: right;">
            <h3> Total:
                <div id="total_price_loading" class="spinner-border" role="status"></div>
                <div id="total_price_value"><h3 id="total_price"> £ </h3></div>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div>
                <button id="checkout" type="button" onclick="checkout()" class="btn btn-lg btn-primary float-right">
                    <div id="checkout_value">Check!!!out</div>
                </button>
            </div>
        </div>
    </div>
</div>